<div ng-init="showUser()">
    <div >
       <h1>{{ person.name }}</h1>
        <p><strong>{{ person.username}}</strong></p>
        <p><strong>{{ person.email}}</strong></p>
    </div>
    <div>
        <ul class="pure-menu pure-menu-horizontal">
            <li class="pure-menu-item"><a class="pure-menu-link" href="#/edit/{{ person._id}}">Edit</a></li>
            <li class="pure-menu-item"><a class="pure-menu-link" ng-click="remove(person._id)">Delete {{ person.name}}</a></li>
        </ul>
    </div>
</div>
<div>
    debug: {{ person }}
</div>